body {
    font-family: sans-serif;
    margin: 0;
    background-color: #404940;

}

a {
    color: inherit;
    text-decoration: none;
}

.btn {
    border-radius: 5px;
    padding: 5px 20px;
}

/* **************     Navigation     *********************** */
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #373F37;
    color: antiquewhite;
    height: 60px;
    position: sticky;
    padding: auto;
    border-color: #e5e5e2;
    /* margin: -8px -8px 0px -8px; */
    z-index: 10;
}

.nav-logo {
    align-content: center;
    padding: 2px 5px;
    font-size: 40px;

}

.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-item {
    padding: 20px 20px;
}

.nav-item:hover {
    color: black;
}

.nav-item.active {
    color: black;
}

/***************     Login Page     ***************/

.login-box {
    margin: auto;
    width: 400px;
    font-size: 25px;
}

.login-title {
    margin: auto;
}

.login-form {
    flex-direction: column;
    display: block;
}

.login-item {
    flex-direction: column;
    margin: auto;
    width: 300px;
    padding: 10px 10px;
}

.input-label {
    margin: auto;
    padding: 20px;
}

.input-item {
    width: 250px;
    height: 29px;
    border-radius: 4px;
}

.btn {
    cursor: pointer;
    width: 100px;
}

.login-btn {
    background-color: #373F37;
    color: #e5e5e2;
    width: 250px;
    height: 40px;
    box-shadow: none;
    font-size: 25px;
}

.login-btn:hover {
    background-color: #373F37;
    color: #e5e5e2;
}